.game {
    background-color: #f1f1f1;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-areas:
    "details topic play users status";
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 48px;
    align-items: center;
    position: relative;
    z-index: 100;
}
.game a {
    color: black;
    text-decoration: none;
}
.details {
    grid-area: details;
    cursor: pointer;
}
.topic {
    grid-area: topic;
    cursor: pointer;

}
.option {
     grid-area: option;
     z-index: 1000;
 }
.users {
    grid-area: users;
    align-content: center;
    font-size: 0.9em;
}

.status {
    grid-area: status;
}
.play {
    grid-area: play;
    cursor: pointer;
}
.details, .topic, .users, .status, .option, .play {
    margin-left: 10px;
    margin-right: 10px;
}
.details, .users, .status, .option, .play {
    text-align: center;

}