.round {
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: grid;
    grid-template-areas:
    "header"
    "speeches"
    "talk";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
}
.header {
    padding: 10px;
    grid-area: header;
    display: grid;
    grid-template-areas: "title rating";
}
.title {
    grid-area: title;
}
.rightElement {
    grid-area: rating;
    justify-self: end;
}
.speeches {
    padding: 10px;
    grid-area: speeches;
}
.talk {
    background-color: darkorange;
    padding: 10px;
    grid-area: talk;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
    cursor: pointer;
}
