.profileArea {
    display: grid;
    grid-template-areas:
    "menu notifications";
    grid-template-columns: 80px 1fr;
}
.menu {
    padding: 10px;
    grid-area: menu;
}

.notifications {
    justify-self: center;
    align-self: center;
    padding: 10px;
    grid-area: notifications;
}