.status {
    width: auto;
    height: 60px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 10px;
    display: grid;
    grid-template-areas:
    "topic role"
    "round time";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.topic {
    grid-area: topic;
}
.round {
    grid-area: round;
}
.role {
    grid-area: role;
}
.time {
    grid-area: time;
}