.status {
    width: auto;
    height: 60px;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    display: grid;
    grid-template-areas:
    "topic topic topic"
    "created_at creator usersList"
    "round time role";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.topic {
    grid-area: topic;
    font-size: x-large;
    font-weight: bold;
}
.creator {
    grid-area: creator;
}
.createdAt {
    grid-area: created_at;
}
.round {
    font-size: 12px;
    grid-area: round;
}
.role {
    font-size: 12px;
    grid-area: role;
}
.usersList {
    font-size: 12px;
    grid-area: usersList;
    color: black;
}
.usersList a {
    color: darkslategrey;
    text-decoration: none;
}
.time {
    grid-area: time;
}