.details {
    background-color: #f8f6f6;
    color: dimgrey;
    margin-top: -12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-areas:
    "option status users";
    grid-template-columns: auto 1fr 2fr;
    grid-template-rows: minmax(48px, auto);
    align-items: center;
}
.details a {
    color: dimgrey;
    text-decoration: none;
}
.option {
    grid-area: option;
    z-index: 101;
    cursor: pointer;
}
.status {
    grid-area: status;
    font-size: small;
}
.users {
    padding: 10px;
    grid-area: users;
    font-size: small;
}
.users a:hover {
    background-color: #dddddd;
}
.users, .status, .option {
    margin-left: 10px;
    margin-right: 10px;
}
.users, .status, .option {
    text-align: center;
}