.talk {
    margin: 20px;
}

.textArea {
    padding: 10px;
    width: 95%;
    border-radius: 7px;
    min-height: 150px;
}
.error {
    color: red;
    font-size: 12px;
    padding: 5px;
}
.reply {
    background-color: #dddddd;
    color: darkgray;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}
.replyTo {
    color: dimgray;
}
.replyToText {
    padding: 5px;
}