.round {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-areas:
    "messages"
    "form";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

.messages {
    grid-area: messages;
}

.form {
    grid-area: form;
    align-content: end;
}
