.header {
    background-color: #f1f1f1;
    display: grid;
    grid-template-areas:
    "logo  space  userArea";
    grid-template-columns: 150px 1fr auto;
    grid-template-rows: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.headerLogo {
    grid-area: logo;
    justify-items: center;
    padding: 10px;
    width: 150px;
}
.userArea {
    grid-area: userArea;
}


/*.headerMenu {*/
/*    grid-area: login;*/
/*    padding: 10px;*/
/*    text-align: right;*/
/*}*/
