.header {
    background-color: #f1f1f1;
    display: grid;
    grid-template-areas:
    "logo username login";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.headerLogo {
    grid-area: logo;
    float: left;
    padding: 10px;
}

.headerLogo img {
    height: 60px;
    cursor: pointer;
}

.userName {
    grid-area: username;
    padding: 10px;
    text-align: right;
}
.headerMenu {
    grid-area: login;
    padding: 10px;
    text-align: right;
}
.loginMenu {
    text-align: right;
    grid-area: login;
    margin: 5px;
}

.loginMenu a {
    color: black;
    padding: 5px;
    text-decoration: none;
}