.board {
    display: grid;
    grid-template-areas:
    "status"
    "teams";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.status {
    grid-area: status;
}
.teams {
    grid-area: teams;
}