.board {
    display: grid;
    grid-template-areas:
    "status"
    "options"
    "teams";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.status {
    grid-area: status;
}
.options {
    grid-area: options;
    position: relative;
}
.teams {
    grid-area: teams;
}
.optionsButton {
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #a06464;
    border: none;
    cursor: pointer;
}
.optionsButton:hover {
    background-color: #64a0a0;
}


.footerSpace {
    height: 60px;
}