.container {
  display: grid;
  grid-template-areas:
  "header"
  "content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  width: 100%;
  position: fixed;
  z-index: 100;

}
.content {
  padding: 20px;
  grid-area: content;
}