.rating, .judge {
    display: flex;
    flex-direction: row-reverse;
}
.star {
    color: red;
}
.star:hover {
    cursor: pointer;
    color: darkorange;
}
.star:hover ~ .star{
    direction: rtl;
    cursor: pointer;
    color: darkorange;
}